*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
	background: #4fb560;
	color: #fff;
	width: 50%;
	margin: 20px auto;	
	padding: 20px;
	border-radius: 5px;
	text-align: center;
}

table{
	width: 50%;
	margin: 20px auto;
	padding: 20px;
}

table .fila1{
	width: 30%;
}

table .fila2{
	width: 60%;
}

table .fila3{
	width: 10%;
}

table tr:nth-child(odd) {
    background-color:#DBFCDF;
}
table tr:nth-child(even) {
    background-color:#fbfbfb;
}

table .btnfinalizar{
	font-size: 16px;
    border-radius: 3px;
	margin: 0 auto;
	background: none;
	border: 1px solid #4fb560;
	color: #4fb560;
	cursor: pointer;

}

.formulario{
	background: #fff;
 	width: 50%;
    margin: 20px auto;
 	padding: 20px;
    border-radius: 5px;
}
.formulario input{
	display: block;
}
.formulario input[type="text"]{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    font-family: Arial;
}
.formulario input[type="text"]:focus{
    border: 2px solid #4fb560;
}
.formulario .hora{
    font-size: 40px;
	text-align: center;
	border: 0;
}

.formulario .descripcion{
    border-radius: 3px;
    border: 1px solid #226fcl;
    font-size: 20px;

}

.formulario input[type="submit"]{
	width: 200px;
	margin: 0 auto;
	background: none;
	border: 1px solid #4fb560;
	color: #4fb560;
	padding: 10px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 3px;
}

.formulario input[type="submit"]:hover{
	background: #4fb560;
	color: #fff;
}

@media screen and (max-width: 500px){
	h1 {
		width: 90%;
	}

	table{
		width: 90%;

	}
	.formulario{
		width: 90%;

	}
}
